@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
